{:did        "did:web:etzhayyim.github.io:com-etzhayyim-tsugite"
 :handle     "tsugite.etzhayyim.com"
 :ipns-key   "tsugite-actor"
 :graph-type "com.etzhayyim.tsugite.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
